:root {
    --header-height: 7rem;
    --header-left-active: 10rem;
}

/* TODO: Header and aside starts */

.header,
.aside {
    position: fixed;
    top: 0;
    transition: all .2s ease-out;
}

.header {
    z-index: 10;
    left: 0;
    right: 0;
    height: var(--header-height);
    background: var(--white);
    border-bottom: 1px solid var(--transparent);
    box-shadow: 0 1px 10px var(--transparent);
}

.header.active {
    left: var(--header-left-active);
}

.aside {
    z-index: 5;
    left: calc(-100vw - 10rem);
    width: 100vw;
    height: 100vh;
    background: var(--primary);
}

.aside.active {
    left: 0;
}

.aside-logo-container {
    height: var(--header-height);
    width: var(--header-left-active);
}

.aside-logo-container img {
    width: calc(var(--header-left-active) - 2rem);
}

.aside-anchor.active,
.aside-anchor:hover {
    background: #673BB7;
}

.aside-anchor.active .anchor-info,
.aside-anchor:hover .anchor-info {
    color: var(--white);
}

/* FIXME: Header and aside ends */

.main {
    margin-top: var(--header-height);
}

.open-menu {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    cursor: pointer;
}

.open-menu.active {
    gap: 0;
}

.open-menu .menu__bar {
    width: 4rem;
    height: 4px;
    border-radius: 1rem;
    background: var(--grey);
    transition: all .3s ease-out;
}

.open-menu.active .menu__bar:first-of-type,
.open-menu.active .menu__bar:last-of-type {
    width: 2rem;
}

.open-menu.active .menu__bar:first-of-type {
    transform: rotate(335deg);
}

.open-menu.active .menu__bar:last-of-type {
    transform: rotate(-335deg);
}

@media screen and (min-width: 320px) {

    :root {
        --header-left-active: 12rem;
    }
    
}

@media screen and (min-width: 450px) {

    :root {
        --header-left-active: 20rem;
    }

    .aside-logo-container img {
        width: 10rem;
    }
    
}

@media screen and (min-width: 1280px) {

    :root {
        --aside-no-active-width: 8rem;
    }

    .aside {
        width: var(--aside-no-active-width);
        left: 0;
    }

    .header {
        left: var(--aside-no-active-width);
    }

    .aside.active {
        width: var(--header-left-active);
    } 

    .aside-hide-on-no-active {
        display: none;
    }   

    .aside.active .aside-hide-on-no-active {
        display: initial;
    }

    .aside-anchor i {
        font-size: 3rem;
    }

    .aside.active .aside-anchor i {
        font-size: 2rem;
    }

    .aside-anchor {
        justify-content: center;
    }

    .aside.active .aside-anchor {
        justify-content: initial;
    }

    .aside-logo-container img {
        width: calc(var(--aside-no-active-width) - 2rem);
    }

    .aside.active .aside-logo-container img {
        width: 10rem;
    }

    .aside-logo-container {
        width: 100%;
    }
    
    .aside.active .aside-logo-container {
        justify-content: initial;
        padding-left: 1.5rem;
    }
    
    .main {
        margin-left: var(--aside-no-active-width);
        transition: all .2s ease-out;
    }

    .main.active {
        margin-left: var(--header-left-active);
    }
    
}